<div class="form-card">
    <h1 class="main-title">Machine Test</h1>
    </div>
    <div class="form-card">
        <h2 class="main-subtitle">Communication and safety</h2>
    <div class="button-group">
        <button class="btn btn-primary" data-function="c3dp_test_connectivity_machine_test_page" id="button1">3D-Printer: <br/><br/> test connectivity</button>
        <button class="btn btn-primary" data-function="control_panel_standby" data-id="button2">Control panel: <br/><br/> send "standby"</button>
        <button class="btn btn-primary" data-function="control_panel_shutdown" data-id="button3">Control panel: <br/><br/>send "shutdown"</button>
        <button class="btn btn-primary" data-function="server_test_connectivity" data-id="button4">Server: <br/><br/> send "ping"</button>
    </div> </div>
    <div class="form-card">
        <h2 class="main-subtitle">Manual use and maintenance</h2>
    <div class="button-group">
        <button class="btn btn-primary" data-function="device_extend_bed" id="button5">Extend bed</button>
        <button class="btn btn-primary" data-function="control_panel_sem_stage_open" data-id="button6">Uncover SEM stage</button>
        <button class="btn btn-primary" data-function="control_panel_sem_stage_close" data-id="button7" style="//display: none;">Cover SEM stage</button>
        <button class="btn btn-primary" data-function="control_panel_tem_grid_holder_open" data-id="button8" style="//display: none;">Open TEM grid cover</button>
        <button class="btn btn-primary" data-function="control_panel_tem_grid_holder_close" data-id="button9">Close TEM grid cover</button>
    </div></div>
</div>