<div class="form-card">
    <h1>Machine Test</h1>
    <p>Use the buttons below to test the machine configurations</p>
    
    <div class="button-group">
        <button class="nav-btn" data-function="c3dp_test_connectivity_machine_test_page" id="button1">3DP: test connectivity</button>
        <button class="btn btn-primary" data-function="control_panel_standby" data-id="button2">Control panel: standby</button>
        <button class="btn btn-primary" data-function="control_panel_shutdown" data-id="button2">Control panel: shutdown</button>
        <button class="btn btn-primary" data-function="server_test_connectivity" data-id="button3">Server: ping</button>
    </div> 
    <br/>
    <div class="button-group">
        <button class="nav-btn" data-function="c3dp_test_connectivity" id="button1">Extend bed</button>
        <button class="btn btn-primary" data-function="control_panel_sem_stage_open" data-id="button2">Uncover SEM stage</button>
        <button class="btn btn-primary" data-function="control_panel_sem_stage_close" data-id="button3">Cover SEM stage</button>
        <button class="btn btn-primary" data-function="control_panel_tem_grid_holder_open" data-id="button4">Open TEM grid cover</button>
        <button class="btn btn-primary" data-function="control_panel_tem_grid_holder_close" data-id="button4">Close TEM grid cover</button>
    </div>
</div>